body{
    background-color: #242B2E;
    color: white;
}
.main{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
h2{
    padding: 0;
    margin: 5px;
    letter-spacing: 2px;
}
#l{
    background: #5DA3FA;
    /* padding: 4px; */
    display: inline-block;
    border-radius: 3px;
    height: 35px;
    width: 30px;
    margin-right: 3px;
    text-align: center;
}
#tbl{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th{
    background-color: #5DA3FA;
    border: 1px solid black;
    padding: 10px;  
}

a{
    color: rgb(172, 224, 255);
    text-decoration: none;
}